/* -------- Général -------- */
body{
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
}
#bloc-page{
    width: 92%;
    margin: auto;
}
/* -------- HEADER/Logo et Nav -------- */
#bandeau{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.menu{
    display: flex;
    margin-right: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 4em;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:focus{
    border-top: 2px solid #0065FC;
    padding-left: 1em;
    padding-right: 1em;
    color: #0065FC;
    padding-top: 29px;
}
.signin{
    display: flex;
    align-items: center;
}
.signin a{
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
}
/* -------- HEADER/Recherche et Filtre -------- */
h1{
    font-size: 1.5em;
}
.recherche{
    display: flex;
    margin-bottom: 1em;
}
.recherche .fas{
    background-color: #F2F2F2;
    padding: 0.8em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
#marecherche{
    color: black;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
}
#marecherche::placeholder{
    color: black;
}
.bouton{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
    border: 2px solid #0065FC;
    text-align: center;
}
.text-filtre{
    font-weight: bold;
    margin-top: 0.7em;
    margin-right: 0.5em;
}
.filtre{
    display: flex;
}
.filtre button{
    font-weight: bold;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 1em;
    padding: 0.8em;
    padding-left: 3em;
    margin-left: 2em;
    position: relative;
}
.filtre .fas{
    background-color: #DEEBFF;
    border-radius: 1.5em;
    text-align: center;
    padding: 0.8em;
    color: #0065FC;
}
.fa-money-bill-wave{
    position: absolute;
    left: 8%;
    z-index: 1;
}
.fa-child{
    position: absolute;
    left: 300px;
    z-index: 1;
}
.fa-heart{
    position: absolute;
    left: 425px;
    z-index: 1;
}
.fa-dog{
    position: absolute;
    left: 585px;
    z-index: 1;
}
.filtre-info {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
  
.icone-info {
    padding-top: 0.5em;
    width: 30px;
    height: 30px;
}
.icone-info .fas {
  padding: 2px;
  text-align: center;
  color: #0065FC;
  font-size: 12px;
}
  
.filtre-info i {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    width: 1em;
}
/* -------- MAIN/SECTION/hebergement -------- */
main{
    display: flex;
    margin-top: 1em;
}
.hebergement{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #F2F2F2;
    margin-right: 3%;
    border-radius: 20px;
}
.ligne1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.ligne2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.box{
    width: 30%;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.box img{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
main a{
    text-decoration: none;
    color: black;
}
.description-box{
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 10px;
}
.hebergement h2{
    margin-left: 45px;
    margin-top: 50px;
}
.hebergement .plus{
    margin-left: 45px;
    margin-bottom: 40px;
}
.box i{
    color: #0065FC;
}
.box .gris{
    color: #F2F2F2;
}
/* -------- MAIN/ASIDE -------- */
aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}
.titre-et-icone{
    display: flex;
    justify-content: space-between;
}
.titre-et-icone h2{
    margin-top: 22px;
    margin-left: 18px;
}
.titre-et-icone i{
    color: black;
    font-size: 25px;
    margin-right: 15px;
    margin-top: 18px;
}
.content-popu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-popu{
    display: flex;
    width: 90%;
    height: 155px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.description-popu{
    margin-left: 10px;
}
.description-popu i{
    color: #0065FC;
}
.box-popu a{
    display: -webkit-inline-flex;
}
.box-popu img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.box-popu .gris{
    color: #F2F2F2;
}
/* -------- SECTION/Activités -------- */
.titre-activites{
    margin-top: 50px;
    margin-bottom: 30px;
}
.activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}
.activites a{
    text-decoration: none;
    color: black;
}
.activites h3{
    margin-left: 1em;
    font-size: 17px;
}
.activites img{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.col1{
    width: 25%;
    margin-right: 3%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.col1 img{
    width: 100%;
    height: 90%;
}
.col2{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 3%;
}
.col2 img{
    width: 100%;
}
.col2-fort{
    height: 55%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
    margin-bottom: 46px;
}
.col2-fort img{
    height: 80%;
}
.col2-frioul{
    height: 35%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.col2-frioul img{
    height: 71%;
}
.col3{
    width: 25%;
    margin-right: 3%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.col3 img{
    width: 100%;
    height: 90%;
}
.col4{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
}
.col4 img{
    width: 100%;
    height: 40%;
}
.col4-garde{
    height: 44%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
    margin-bottom: 15%;
}
.col4-garde img{
    height: 75%;
}
.col4-parc{
    height: 45%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.col4-parc img{
    height: 79%;
}
/* -------- FOOTER -------- */
footer{
    display: flex;
    background-color: #F2F2F2;
    padding-bottom: 30px;
}
.footer-box{
    padding-left: 60px;
    padding-top: 35px;
    width: 27%;
}